<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de Vagas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .video-feed {
            width: 640px; /* Defina a largura desejada */
            height: 360px; /* Defina a altura desejada */
            object-fit: cover; /* Mantém a proporção do vídeo e cobre o elemento */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Monitoramento de Vagas</h1>

        <ul class="nav nav-tabs" id="parkingTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="estacionamento1-tab" data-toggle="tab" href="#estacionamento1" role="tab" aria-controls="estacionamento1" aria-selected="true">Estacionamento 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="estacionamento2-tab" data-toggle="tab" href="#estacionamento2" role="tab" aria-controls="estacionamento2" aria-selected="false">Estacionamento 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="webcam-tab" data-toggle="tab" href="#webcam" role="tab" aria-controls="webcam" aria-selected="false">Webcam</a>
            </li>
        </ul>
        <div class="tab-content" id="parkingTabContent">
            <div class="tab-pane fade show active" id="estacionamento1" role="tabpanel" aria-labelledby="estacionamento1-tab">
                <div class="text-center mt-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" onclick="startProcessing(0)">Iniciar</button>
                        <button type="button" class="btn btn-danger" onclick="stopProcessing(0)">Parar</button>
                    </div>
                    <div class="mt-3">
                        <img id="video1" src="" alt="Feed de vídeo 1" class="img-fluid video-feed">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="estacionamento2" role="tabpanel" aria-labelledby="estacionamento2-tab">
                <div class="text-center mt-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" onclick="startProcessing(1)">Iniciar</button>
                        <button type="button" class="btn btn-danger" onclick="stopProcessing(1)">Parar</button>
                    </div>
                    <div class="mt-3">
                        <img id="video2" src="" alt="Feed de vídeo 2" class="img-fluid video-feed">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="webcam" role="tabpanel" aria-labelledby="webcam-tab">
                <div class="text-center mt-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" onclick="startWebcam()">Iniciar Webcam</button>
                        <button type="button" class="btn btn-danger" onclick="stopWebcam()">Parar Webcam</button>
                    </div>
                    <div class="mt-3">
                        <img id="webcamVideo" src="" alt="Feed da Webcam" class="img-fluid video-feed">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function startProcessing(index) {
            fetch(`/start/${index}`, { method: 'POST' })
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                    document.getElementById(`video${index + 1}`).src = `/video_feed/${index}`;
                })
                .catch(error => console.error(`Erro ao iniciar o processo ${index + 1}:`, error));
        }

        function stopProcessing(index) {
            fetch(`/stop/${index}`, { method: 'POST' })
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                    document.getElementById(`video${index + 1}`).src = '';
                })
                .catch(error => console.error(`Erro ao parar o processo ${index + 1}:`, error));
        }

        function startWebcam() {
            document.getElementById('webcamVideo').src = '/webcam_feed';
        }

        function stopWebcam() {
            fetch('/stop_webcam', { method: 'POST' })
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                    document.getElementById('webcamVideo').src = '';
                })
                .catch(error => console.error('Erro ao parar a webcam:', error));
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>